﻿div.rooms {
    position :relative ;
    background-color: black;
    height: 500px;
    width: 300px;
    
         
}
.room {
    position :relative  ;
    top:10px;
    left:10px;
    right :10px;
    background-color : coral ;
    width: 280px;
    height: 100px;
        
}
h1{ 
    position :absolute ;
    left: 40%;
    top: 5%;
    font-size : 12pt;

}
h2 {
    position :absolute ;
    left:40%;
    top: 40%;
    font-size: 8pt;
    color:green;
}
img {
    position: absolute ;
    top : 10px;
    left: 10px;
    height:80%;
    width :25%;
} 
div.tilo{
    position :relative;
    height :100%;
    width :100%;
}
div.chat{
    position:absolute;
    background-color:blue ;
    top:0px;
    left:320px;
    height :500px;
    width:900px;

}
button{
    position: absolute;
    top:10px;
    left:700px;


}
.menu{
position :absolute ;
background-color :gray ;
width: 900px;
height :50px;
}
.bloger{
    position :relative  ;
    top:60px;
    left:40px;
    background-color : coral ;
    width: 600px;
    height: 100px;
        
}
.h22 {
    position :absolute ;
    top:45%;
    left:10px;
    color :black ;
    font :12pt;
}
.img2 {
    position: absolute ;
    top : 10px;
    left: 10px;
    height:50px;
    width :50px;
}
.h11{ 
    position :absolute ;
    left: 12%;
    
    font-size : 12pt;

}
title{ 
    height:10px;
    width :50px;

}