﻿
<br/>
@Styles.Render("~/Content/Test/css")
<div class="tilo">
<div class="rooms">
@for (int i = 0; i < 4; i++)
{
    <div class="room">
        <img src="~/img/avatar1.jpg"/>
        <h1>Команды CSS можно вставлять в теги</h1>
        <h2>Онлайн 4</h2>
    </div>
    <br/>
};
</div>
<div class="chat">
<div class="menu">
    <button contextmenu="Edit"; name="Button1">Edit</button>
</div>
    <div class="bloger">
        <img src="~/img/avatar3.jpg"; class="img2" />
        <h1 class="h11">Анонім</h1>
        <h2 class="h22">В данном разделе сайта представлен небольшой справочник HTML-тегов с данными по их функциональности, краткой справкой и примерами их использования. Для просмотра информации - щелкните на названии тега.</h2>
    </div>
    <br />
</div>
</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>