﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Test/css")
<div class="forma">
    
        <p>
            <b>Title</b><br/>
            <input type="text" name="title"/>
        </p>
        <p>
            <b>Description</b><br/>
            <input type="text" name="descr" size="40"/>
        </p>
         <p>
            <input type="submit"  value="Send"/>
            
        </p>
   

</div>
<div class="post">
   @for (int i = 0; i < 2; i++)
   {
    <div>
        <h1></h1>
        <h2></h2>
    </div>
    <br />
   };
</div>